version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis_data:/data

    command: redis-server --appendonly yes

volumes:
  redis_data:
# Just so I remember for now:
# docker compose up -d        # start
# docker compose down         # stop
# docker compose logs redis   # logs
# docker compose restart redis
